.main__add-button {
  border: none;
  width: 277px;
  height: 60px;
  color: white;
  background-color: #F34723;
  border-radius: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  transition: .1s linear;
  margin: 0 0 50px;
  padding: 0;
}

.main__add-button:hover {
  opacity: .8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main__add-button {
    width: 203px;
    height: 50px;
    font-size: 24px;
    line-height: normal;
  }
}