.footer__date {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__date {
    font-size: 15px;
    line-height: normal;
    margin: 20px auto 0;
  }
}