.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 550px;
  border-radius: 15px;
  background-color: white;
  margin: auto;
}

.form__title {
  font-size: 36px;
  color: black;
  margin: 0 0 20px 0;
  padding: 0;
}

.form__input-title {
  margin: 0 0 10px 0;
  padding: 0;
}

.form__input {
  width: 400px;
  height: 36px;
  border-radius: 10px;
  border: 2px solid gray;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 30px 0;
  padding: 0 0 0 10px;
}

.form__description-input {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid gray;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 30px 0;
  padding: 10px 0 0 10px;
}

.form__submit-button {
  width: 230px;
  height: 60px;
  border: 2px solid #F34723;
  background-color: #F34723;
  color: white;
  font-size: 24px;
  line-height: 36px;
  border-radius: 10px;
  padding: 0;
  margin: 50px 0 0;
  cursor: pointer;
  transition: .1s linear;
}

.form__submit-button:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .form {
    width: 645px;
  }

  .form__input {
    width: 500px;
    line-height: normal;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form {
    margin-top: 400px;
    width: 281px;
    height: 71px;
  }

  .form__input {
    width: 180px;
    margin-left: 20px;
    font-size: 20px;
    line-height: normal;
  }

  .form__submit-button {
    margin-left: 20px;
    width: 25px;
    height: 25px;
  }

  .form__custom-button {
    margin-left: 20px;
    width: 25px;
    height: 25px;
  }
}