.footer__container {
  width: 1275px;
  min-height: 138px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .footer__container {
    width: 640px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    width: 277px;
    flex-wrap: wrap;
  }
}