.header__navigation {
  min-width: 324px;
  display: flex;
  justify-content: space-between;
  gap: 26px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__navigation {
    display: none;
  }
}