.navigation-popup {
  display: none;
  justify-content: center;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 520px;
  background-color: rgb(255, 255, 255);
}

.navigation-popup_active {
  display: flex;
}

.navigation-popup__background {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: rgba(32, 32, 32, .7);
  z-index: 100;
}

.navigation-popup__background_active {
  display: block;
}

.navigation-popup__close-button {
  display: block;
  width: 44px;
  height: 44px;
  background-image: url(../../images/navigation-popup/navigation-popup__close-button.svg);
  color: black;
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  top: 22px;
  right: 22px;
  transition: .1s linear;
}

.navigation-popup__close-button:hover {
  opacity: .8;
}

.navigation-popup__container {
  gap: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-popup__button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: rgb(158, 158, 158);
  font-size: 18px;
  font-weight: 500;
  transition: .1s linear;
}

.navigation-popup__button:hover {
  opacity: .8;
}

.navigation-popup__button_active {
  padding-bottom: 4px;
  text-decoration: none;
  color: rgb(57, 57, 57);
  font-size: 18px;
  font-weight: 500;
  transition: .1s linear;
  cursor: default;
  border-bottom: 2px solid rgb(57, 57, 57);
}

.navigation-popup__button_active:hover {
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation-popup {
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
  }

  .navigation-popup__close-button {
    right: 25px;
    top: 15px;
  }

  .navigation-popup__container {
    gap: 24px;
  }

  .navigation-popup__profile-button {
    margin-top: 200px;
  }
}