.footer__socials {
  width: 479px;
  height: 109px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .footer__socials {
    height: fit-content;
    width: 261px;
    gap: 38px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__socials {
    width: 159px;
    gap: 22px;
  }
}