.form__custom-button {
  width: 48px;
  height: 43px;
  background-image: url(../../../images/form/form__custom-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form__custom-button {
    margin-left: 20px;
    width: 30px;
    height: 30px;
  }
}