.todo {
  width: 400px;
  height: 533px;
  border: 2px solid #F8917B;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 80px 40px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.todo_done {
  width: 400px;
  height: 533px;
  border: 2px solid #F8917B;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 80px 40px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.todo__container {
  margin: 20px 0 0 35px;
  border: 1px solid red;
}

.todo__task {
  max-width: 250px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px 0 0 10px;
  transition: .1s linear;
}

.todo__task:hover {
  cursor: pointer;
}

.todo__task_done {
  text-decoration: line-through;
  color: #9E9A9A;
}

.todo__task_done:hover {
  cursor: pointer;
}

.todo__deadline {
  font-size: 20px;
  font-weight: 400;
  color: gray;
  margin: 0 0 0 10px;
  padding: 0;
}

.todo__description {
  height: 270px;
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}

.todo__description_done {
  color: #9E9A9A;
  text-decoration: line-through;
  height: 270px;
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 0 10px;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
}

.todo__done-button {
  width: 250px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #F34723;
  background-color: #F34723;
  color: #fff;
  font-size: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0 0 10px;
  padding: 0;
  transition: .1s linear;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.todo__done-button:hover {
  opacity: .8;
}

.todo__done-button_active {
  border-radius: 10px;
  border: 2px solid #ffb3a2;
  background-color: #ffb3a2;
  background-image: url(../../images/todo/todo__done-button_active.svg);
  background-repeat: no-repeat;
  background-size: 39px 31px;
  background-position: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.todo__edit-button {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 60px;
  height: 60px;
  border: none;
  background-color: #fe7e64;
  background-image: url(../../images/todo/todo__edit-button.svg);
  background-repeat: no-repeat;
  background-size: 31px 31px;
  background-position: center;
  border-radius: 50px;
  transition: .1s linear;
  cursor: pointer;
  margin: 5px 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.todo__edit-button:hover {
  opacity: .8;
}

.todo__delete-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url(../../images/todo/todo__delete-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: .1s linear;
  margin: 25px 0 0 25px;
  padding: 0;
  cursor: pointer;
}

.todo__delete-button:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .todo {
    width: 647px;
  }

  .todo__task {
    width: 469px;
    margin-right: 35px;
  }

  .todo__done-button {
    width: 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .todo {
    width: 281px;
    height: 75px;
  }

  .todo__task {
    width: 165px;
    margin: 0 30px 0 10px;
    font-size: 20px;
  }

  .todo__done-button {
    width: 20px;
    height: 20px;
  }
  
  .todo__delete-button {
    width: 20px;
    height: 20px;
  }
}