.main__no-tasks {
  font-weight: 400;
  font-size: 36px;
  line-height: 80px;
  color: #9E9A9A;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main__no-tasks {
    width: 281px;
    font-size: 24px;
    line-height: 35px;
  }
}