.possibilities__container {
  width: 1168px;
  min-height: 613px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}


@media screen and (min-width: 768px) and (max-width: 1280px) {
  .possibilities__container {
    width: 645px;
    min-height: 259px;
    margin-bottom: 59px;
  }

  .possibilities__container:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .possibilities__container {
    width: 258px;
    min-height: 613px;
    flex-direction: column;
    gap: 25px;
  }
}