.header__burger-menu {
  display: none;
  width: 17px;
  height: 10px;

}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header__burger-menu {
    display: flex;
    align-items: center;
  }
}