.footer {
  width: 1275px;
  min-height: 150px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.footer__container {
  width: 1275px;
  min-height: 138px;
  display: flex;
  justify-content: space-between;
}

.footer__date {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.footer__image {
  width: 144px;
  height: 24px;
}

.footer__link {
  width: fit-content;
  position: relative;
  display: block;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #7E7B7B;
  text-decoration: none;
  transition: .3s linear;
}

.footer__link:hover {
  cursor: pointer;
  color: black;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  .footer {
    width: 768px;
    padding-top: 50px;
  }

  .footer__container {
    width: 640px;
    flex-wrap: wrap;
  }

  .footer__link {
    line-height: normal;
  }

}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    width: 280px;
    padding-bottom: 25px;
  }

  .footer__container {
    width: 277px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer__date {
    font-size: 15px;
    line-height: normal;
    margin: 40px auto 0;
  }

  .footer__link {
    font-size: 15px;
    line-height: normal;
  }
}