.filters {
  width: 500px;
  height: 100px;
  margin: 30px 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.filters__button {
  width: 150px;
  height: 35px;
  background-color: #F34723;
  color: #fff;
  border:none;
  border-radius:10px;
  cursor: pointer;
  transition: .1s linear;
}

.filters__button:hover {
  opacity: .8;
}

.filters__button_acitve {
  background-color: white;
  color: #F34723;
  border: 2px solid #F34723;
  cursor: default;
}

.filters__button_acitve:hover {
  opacity: 1;
}