.form {
  display: flex;
  align-items: center;
  width: 1280px;
  height: 141px;
  border-radius: 15px;
  background-color: white;
  margin: 500px auto 0;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .form {
    width: 645px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form {
    margin-top: 400px;
    width: 281px;
    height: 71px;
  }
}