.popup {
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 30;
  opacity: 0;
  transition: .1s linear;
}