.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Gilroy';
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  width: 237px;
  height: 60px;
  border: none;
  box-shadow: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  color: white;
  background-color: #F34723;
  transition: .1s linear;
}

.menu__button:hover {
  cursor: pointer;
  opacity: .8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu__button {
    font-size: 20px;
    width: 172px;
    height: 44px;
  }
}